<div class="sidebar" data-color="purple" data-background-color="white">
    <div class="logo"><a href="" class="simple-text logo-normal">
        Solicitud de Préstamo
    </a></div>
    <div class="sidebar-wrapper">
        <ul class="nav" routerLinkActive="active">
            <li class="nav-item ">
                <a class="nav-link" routerLink="">
                    <i class="material-icons">library_add</i>
                    <p>Solicitar Préstamo</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="historial">
                    <i class="material-icons">history</i>
                    <p>Historial Solicitudes</p>
                </a>
            </li>
        </ul>
    </div>
</div>