<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">addchart</i>
                    <h5>Base Actual</h5>
                    <h5>{{base | currency}}</h5>
                </div>
                <p class="card-category">Fecha de ingreso</p>
                <h3 class="card-title">{{ fechaActual | date}}</h3>
            </div>
        </div>
    </div>
</div>